@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Viora';
    src: url('Viora.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

